*{
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    width: 650px;
    margin: auto;
}

header{
    height: 150px;
    /*background-image: linear-gradient(to bottom, #ED1D24, #BA161C, #701E21); */
    background-image: linear-gradient(to bottom, #F03B30, #ED1D24, #BA161C );
    border-radius: 9px 9px 0px 0px; 
    display: flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
    text-align: center;
    color: blanchedalmond;
    
}

header img{
    height: 100px;
    width: 600px;
    
}

#conteudo{
    background-color: #eaeaea;
    display: flex;
	justify-content: space-between;
}

#conteudo div img{
    height: 200px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    
}


#conteudo p{
    margin-right: 45px;
    margin-top: 100px;
    font-size: 20px;
    color: #1A91DA;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

main section{
    height: 250px;
    text-align: center;      
}

#principal{
    background-color: #a89b9b56;
    height: 150px;
    display: flex;   
}

#principal2{
    background-color: #a89b9b56;
    height: 150px;
    display: flex;
}

.div-principal{
    margin: auto;
    height: 125px;
    width: 120px;    
    border-radius: 9px;
    background-color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
    /* IFEN NA QUEBRA DE PAGINA DE TODOS OS NAVEGADORES*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;  
}

footer{
    height: 250px;
    border-radius: 0px 0px 9px 9px ;
    background-image: linear-gradient(to bottom, #F03B30, #ED1D24, #BA161C );
    text-align: center;
    color: blanchedalmond;
}

footer img {
    width: 25px;
    height: 25px;
    color: white;
}

.div-principal:hover {
    box-shadow: inset 0 130px 0 0 #ed1d24;
    transition-duration: 0.7s;
    height: 127px;
    color: white;
}

a{
    margin: auto;
    text-decoration: none;
    color: black;
}

footer h1{
    padding-top: 10px;
}

footer section {
    /*display: flex;
    justify-content: space-around; */
    height: 150px;
    display: flex;
	justify-content: space-around;
    
}

.divcontato{
    display: flex;
	flex-direction: column; 

}

.divcontato img:hover{
    height: 30px;
    width: 30px;
    transition-duration: .3s;
    transition: .2;
}

.divcontato a {
    display: flex;
	flex-direction: column;
	justify-content: center;
    color: white;
    text-align: center;
}

.divcontato img{
    margin: 0px 0px 9px 9px;
}

.email{   
    display: flex;    
}

.email a {
    display: flex;	
    justify-content: center;
}

.email img{    
    height: 37px;
    width: 40px;
}

.email h3{
    margin: 10px;
    color: blanchedalmond;
}

@media (max-width:600px){
    #conteudo {
        display: flex;
	    flex-direction: column;
	    justify-content: center;
    }
    #conteudo div p{
        display: none;
    }
    body{
        padding: auto;
        width: auto;
        
    }
    #principal{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #aa{
        margin-top: 10px;
    }
    #principal a div{
        background-image: linear-gradient(to bottom, #F03B30, #ED1D24, #BA161C );
        /*background-color: #ed1d24;*/
        width: 250px;
        text-align: center;
        margin-bottom: 10px;
        color: white;
        font-size: 19px;
    }
    #principal2{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #principal2 a div{
        background-image: linear-gradient(to bottom, #F03B30, #ED1D24, #BA161C );
        /* background-color: #ed1d24; */
        width: 250px;
        text-align: center;
        margin-bottom: 10px;
        color: white;
        font-size: 19px;
    }
    
}

